*{
    background-color: cadetblue;
}
h1{
    color: gold;
    font-size: 80px;
    font-style: italic;
    text-transform: unset;
}
p{
    color: blue;
}
.good{
    color: aqua;
}

#qw1{
color: black;
}
.ctt{
color: aqua;
}
#yolo{
    color: brown;
    background-color: yellow;
    margin-left: 100px;
    height: 80%;
    width: 80%;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin: 10%;
    font-size: 130px;
    border: 15px solid rgb(202, 58, 58);
    border-style: double;
    text-align: center;

}
